@model IEnumerable<File_Interface_Simulator.Models.MessageOverviewDetailViewModel>

@{
    ViewBag.Title = "Overview Messages";
}

<h1>@ViewBag.Title</h1>
<hr />

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Creation Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Message State
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="message_@item.Id">
        <td>
            <img src="~/images/thrash_icon.png" onclick="removeMessage('@item.Id')" style="cursor:pointer" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageState)
        </td>
        <td>
            @if (item.AmountOfErrors > 0)
            {
                <span class="errorMessage"><img src="~/images/exclamation_mark_icon.png" /> @item.AmountOfErrors errors</span>
            }
        </td>
        <td id="delete_error_@item.Id" class="errorMessage"></td>
    </tr>
}

</table>

@section Scripts {
    <script src="~/Scripts/Operational/messageOverview.js"></script>
}